body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 50px;
}

p {
    font-weight: 700;
}

#about {
    margin-top: -90px;
    position: relative;
    border-radius: 30%;
    margin-bottom: 30px;
}

#about h2 {
    margin-top: 20px;
}


/*fondo iconos font awensome*/

.bg-circle {
    background-color: rgba(36, 158, 158, 0.474);
    border-radius: 100px;
    height: 70px;
    width: 70px;
    padding-top: 18px;
}


/*background  section card*/

.bg-section-landscapes {
    background-color: rgba(123, 146, 146, 0.659);
}